.formContainer { 
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    grid-template-rows: auto;
    /* gap: 10px; */
    max-width: 400px;
    margin: auto;
    margin-top:.4rem;
}

.fullWidth {
    grid-column: span 2; /* Ocupa ambas columnas */
}
.fullWidth input{
    width: 100%;
    max-width: 350px !important;
}
.formContainer
.inputTextDelivery:last-child {
    width: 96% !important;
}