.geoSelector {
    display: flex;
    gap: .3rem;
    flex-wrap: wrap;
    align-items: center;
}

.selectContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.geoSelect {
    max-width: 115px;
}